@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
* {
	font-family: Poppins;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	min-height: 100vh;
	background-color: #ffff;
}
form {
	border: solid 1px #ccc;
	padding: 20px;
	background-color: #f5f5f5;
}

.parent-container {
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	flex-direction: column;
}

input:not([type=submit]) {
	width: 80%;
	font-size: 1em;
	line-height: 50px;
	min-height: 50px;
	border: none;
	outline-color: #cccc;
	margin-bottom: 10px;
	padding: 5px 15px 5px 15px;
	text-align: center;
}

input[type=submit]:active {
	transform: translateY(-3px);
}

input[type=submit]:hover {
	background-color: #f5f5f5;
	color: black;
	border: 1px solid black;
	cursor: pointer;
	transition: all 400ms ease-out;
}

input[type=submit] {
	width: 140px;
	height: 50px;
	background: #e2e2e2;
	font-size: 1em;
	text-decoration: none;
	outline: none;
	border: solid 1px #f5f5f5;
	margin-bottom: 20px;
}

.row {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.first-column {
	display: flex;
	flex-direction: column;
	flex: 70%;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: space-between;
}

.second-column {
	display: flex;
	flex-direction: column;
	flex: 50%;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: space-evenly;
}

.output {
	display: flex;
	min-width: 80%;
	min-height: 50px;
	max-height: fit-content;
	max-width: fit-content;
	border: solid 1px #ccc;
	margin: auto;
	line-height: 50px;
	padding: 5px 15px 5px 15px;
	background-color: #e2e2e2;
	color: black;
	text-align: center !important;
}

.xy {
	flex-grow: 1;
}
*/
