@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: Poppins;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	min-height: 100vh;
}

.parent-container {
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
input:not([type=submit]) {
	font-size: 1em;
	line-height: 30px;
	padding: 10px 20px;
	min-height: 50px;
	border: solid 1px #ccc;
	outline-color: #cccc;
	margin: 10px 10px 10px 10px;
}
input[type=submit] {
	width: 140px;
	height: 50px;
	color: #fff;
	background: rgb(0, 0, 0);
	font-size: 1em;
	text-decoration: none;
	outline: none;
	border: none;
	margin-bottom: 15px;
}

.row {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.first-column {
	display: flex;
	flex-direction: column;
	flex: 50%;
	flex-wrap: wrap;
	place-content: center;
}

.second-column {
	display: flex;
	flex-direction: column;
	flex: 50%;
	flex-wrap: wrap;
	place-content: center;
}

.output {
	width: 80%;
	height: 50px;
	border: solid 1px #ccc;
	margin: auto;
	text-align: center;
	line-height: 50px;
}
